.product {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 16px;
  margin: 16px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.product:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product img {
  width: 100%;
  height: 200px; /* Definindo altura fixa das imagens */
  object-fit: cover; /* Mantendo proporção */
  border-bottom: 1px solid #ddd;
  margin-bottom: 8px;
}

.product h2 {
  font-size: 1.5rem;
  color: #333;
  margin: 8px 0;
}

.product p {
  font-size: 1rem;
  color: #666;
  margin: 4px 0;
}

.product .price {
  font-size: 1.25rem;
  color: #e91e63;
  font-weight: bold;
  margin-top: 8px;
}
