.tela-inicial {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  margin-top: 20px; /* adiciona margem no topo */
  background-color: #f8f8f8;
}

.search-bar {
  flex-grow: 1;
  margin-right: 20px; /* adiciona margem direita */
  margin-left: 20px;
  
  padding: 5px;
}

.user-cart {
  display: flex;
}

.user-button, .cart-button {
  margin-left: 10px; /* adiciona margem esquerda */
  padding: 5px;
  background-color: #ddd;
  border: none;
  cursor: pointer;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}



  